@import url('https://fonts.googleapis.com/css2?family=Mohave&family=Poppins:wght@300;400;500;700&family=Raleway:wght@300;400;500;600&family=Roboto&display=swap');

.header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(254, 242, 0);
    color: rgb(30, 29, 39);
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.logo-pic {
    width: 150px;
}

.header_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__link-logo:hover {
    transform: scale(1.1);
}

.header__nav {
    width: 40%;
    padding-right: 30px;
}
.header__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    list-style-type: none;
}
.header__link {
    font-family: 'Poppins', sans-serif;
    color: rgb(30, 29, 39);
    text-decoration: none;
    font-size: 30px;
}

.header__link:hover {
    text-decoration: underline;
    color: rgba($color: #4d97ff, $alpha: 0.99);
}
